<?xml version="1.0" encoding="UTF-8"?>
<settings>
  <time>
    <time-sessions>8</time-sessions>
    <time-work>25</time-work>
    <time-break>5</time-break>
    <time-rest>15</time-rest>
    <time-interval>3</time-interval>
  </time>
  <auto-start>
    <start-work>true</start-work>
    <start-break>true</start-break>
    <start-rest>true</start-rest>
  </auto-start>
</settings>
